*{
  margin: 0;
}
.main_div{
  height:100vh;
  background-color: rgb(47, 114, 145);
  position: fixed;
  width: 100%;
}
.center_div{
  background-color: white;
  border-radius: .8rem;
  width:19rem;
  height: 26rem;
  margin-left: 39%;
  margin-top: 10%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
h1{
  background-color: rgb(143, 84, 143);
  text-align: center;
  color: aliceblue;
}
input{
  border-bottom: 3.1px solid rgb(143, 84, 143);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  font-size: large;
  font-family: cursive;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
  width: 12rem;
  margin-left: 2.6rem;
  outline: none;
}
button{
  border-radius: 50%;
  background-color: rgb(143, 84, 143);
  border: none;
  color:white;
  height: 2.5rem;
  width: 2.5rem;
  font-size:1.6rem;
  margin-left: 0.5rem;
}
button:hover{
  background-color: green;
}
ol{
  margin-left: 25%;
  margin-top: 2.5rem;
  list-style: none;
}
ol li{
  color:rgb(143, 84, 143);
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: cursive;
  line-height: 2.5rem;
}
.todo_style{
  display: grid;
  grid-template-columns: 20% 80%;
}
.fa-times{
  color: white;
  background: rgb(143, 84, 143);
  border: none;
  border-radius: 50%;
  height:1.7rem;
  width:1.7rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: .6rem;
  
}
.fa:hover{
  background-color: red;
}
